.main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 200px;
}

.calculator {
	width: 400px;
	background-color: grey;
	border: 2px solid;
	padding: 15px;
	border-radius: 10px;
}

.screen {
	padding: 10px 20px;
	border: 2px solid;
	margin-bottom: 10px;
	background-color: rgb(239, 239, 239);
	text-align: right;
	border-radius: 5px;
}

.screen-prev {
	min-height: 32px;
	font-size: 20px;
}

.screen-curr {
	min-height: 64px;
	font-size: 50px;
}

.buttons-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 8px;
}

.btn {
	padding: 20px;
	border-radius: 5px;
	font-size: 24px;
}

.btn-clear {
	grid-column: span 2;
	background-color: lightgoldenrodyellow;
}

.btn-delete {
	grid-column: span 2;
	background-color: lightpink;
}